<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KFXL440KNY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KFXL440KNY');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1639112950611376"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="icon" href="https://cjmapp.net/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://cjmapp.net/img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="https://cjmapp.net/img/apple-touch-icon.png">
    <meta property="og:title" content="Cjam Website">
    <meta property="og:description" content="Cutting and Joining App for MP3">
    <meta property="og:image" content="https://cjmapp.net/img/icon.png">
    <meta property="og:url" content="https://cjmapp.net/">
    <meta property="og:type" content="website">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p class="view"><a href="https://cjmapp.net/">Home</a></p>
        <p class="view"><a href="https://cjmapp.net/screenshots.html">Screenshots</a></p>
        <p class="view"><a href="https://cjmapp.net/manual/v1900_eng.html">Manual</a></p>
        <p class="view"><a href="https://cjmapp.net/license.html">License</a></p> 
        <p class="view"><a href="https://cjmapp.net/contact.html">Contact</a></p> 
        <p class="view"><a href="https://cjmapp.net/support.html">Donate</a></p> 
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>© 2025 cutandjoin All rights reserved.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
