<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1639112950611376"
     crossorigin="anonymous"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p class="view"><a href="https://cjumapp.net/">Home</a></p>
        <p class="view"><a href="https://cjumapp.net/screenshots.html">Screenshots</a></p>
        <p class="view"><a href="https://cjumapp.net/manual/v1860_eng.html">Manual (Eng)</a></p>
        <p class="view"><a href="https://cjumapp.net/manual/v1860_jpn.html">Manual (Jpn)</a></p>
        <p class="view"><a href="https://cjumapp.net/license.html">License</a></p> 
        <p class="view"><a href="https://cjumapp.net/contact.html">Contact</a></p> 
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>© 2024 cutandjoin All rights reserved.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
